@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
    color: #1E3C6E;
    margin: 2% 2% 2%;
    line-height: 1.45em;
    font-size: 18px;
    border: .4em solid #1E3C6E;
    min-height: 89vh;
}

.hamburger {
    display: none;
}

.wrapper {
    padding: 1em 4em 3em;
}

h2,
h3,
h4,
h5,
label {
    font-weight: 700;
    letter-spacing: .025em;
    margin: 0 .05em .25em 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1.85em;
}

h3,
label {
    font-size: 1.17em;
}

small a {
    text-decoration: none;
    color: #DB2800;
    margin-left: 10px;
    font-variant: small-caps;
}

small a:hover {
    color: rgb(238, 44, 0);
}

/*  header setup */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .4em solid #1E3C6E;
    padding: 0 1.5em;
    margin: -1px;
}

/* text logo */
h1 {
    font-weight: 900;
    font-size: 2.85em;
    letter-spacing: .025em;
}

/* https://css-tricks.com/useful-nth-child-recipies/ */
h1:nth-child(-n+2) {
    font-variant: small-caps;
}

/* navigation */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 0 0 0 .9em;
}

nav ul li a {
    text-transform: uppercase;
    font-weight: 700;
}

nav ul li:hover {
    border-bottom: 3px solid #1E3C6E;
}

/* index view */
ul li a {
    color: inherit;
    text-decoration: none;
}

.index-list a:hover {
    background: #FFAF0F;
}

.index-column {
    margin-right: 30%;
}

/* tut view */
h4 {
    font-size: 1.25em;
}

.steps h4 {
    margin-left: .5em;
}

.steps p {
    margin-top: 0;
}

h5 {
    margin-top: 2.5em;
    font-size: 1.025em;
}

ol {
    padding: 0 0 0 20px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    display: block;
}

ol li {
    margin: .5em;
}

main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

section {
    margin: 2.5em 0 0;
}

.supplies {
    margin-right: 2.5em;
    max-width: 30%;
}

.pbdr-form {
    margin-right: 2.5em;
}

.supplies,
.steps {
    display: inline-block;
}

.steps,
.bio {
    max-width: 70%;
}

/* artist view */
.supplies img {
    max-width: 100%;
    border: 4px solid #1E3C6E;
}

.bio {
    margin-left: .5em;
}

.bio ul li {
    line-height: 1.5em;
}

/* forms */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2em 0;
}

input,
textarea {
    border: 4px solid #1E3C6E;
    background: #F2F2F2;
    padding: .75em 1em;
    font-size: .75em;
}

.form-row {
    align-self: stretch;
    margin-bottom: 1.5em;
}

.subrow {
    display: grid;
    grid-template-columns: 1fr 10fr;
    text-align: right;
}

label {
    padding: .5em;
}

input[type="text"] {
    margin-bottom: .5em;
}

.tut-row {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.supply-form {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 1fr 4fr;
    grid-auto-columns: 1fr;
    margin-right: 2em;
}

.pbdr-form {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.steps-form {
    display: grid;
    grid-template-rows: 1fr 12fr
}

.bio-form {
    display: flex;
    flex-direction: column;
}

.bio-form .important-works {
    margin-top: 1em;
}

.top-spaced {
    margin-top: 1em;
}

textarea {
    white-space: pre-line;
}

input[type="submit"] {
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 900;
    background: #5EA319;
    color: #F2F2F2;
    letter-spacing: 1px;
}

input[type="submit"]:hover {
    background: rgb(111, 192, 29);
    cursor: pointer;
}

/* delete */
.delete {
    margin: -4.45em 7em 1em;
}

.delete input[type="submit"] {
    background: #DB2800;
}

.delete input[type="submit"]:hover {
    background: rgb(238, 44, 0);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    body {
        min-height: 96vh;
    }
}

@media only screen and (max-width: 992px) {
    body {
        font-size: 16px;
        min-height: 96vh;
        margin: 1% 1% 1%;
    }

    nav {
        display: none;
        z-index: 1;
        background: #F2F2F2;
        border: .4em solid #1E3C6E;
        min-width: 60vw;
        min-height: 10vh;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1% 1% 0 0;
        padding: 6em 0;
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul li {
        display: block;
        margin: 0 2.3em 0 0;
        text-align: right;
        line-height: 2.5em;
    }

    .hamburger {
        display: initial;
        position: absolute;
        right: 2.67em;
        top: 3.15em;
        z-index: 3;
    }

    .hamburger div {
        width: 25px;
        height: 4px;
        background: #1E3C6E;
        margin: 0 0 6px;
        border-radius: 1px;
        transition-duration: .5s;
    }

    .hamburger .top {
        transform: rotate(45deg);
        position: relative;
        top: 10px;
    }

    .hamburger .bottom {
        transform: rotate(-45deg);
        position: relative;
        top: -10px;
    }

    .hamburger .middle {
        opacity: 0;
    }

    .wrapper {
        padding: .05em 2em 2em;
    }

    main {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .supplies,
    .bio,
    .steps {
        margin-right: 0;
        max-width: 100%;
    }

    .steps h4 {
        margin-left: 0;
    }

    ol {
        padding: 0 0 0 10px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .index-column {
        margin-right: 0;
    }

    .hamburger {
        right: 2.5em;
        top: 2.5em;
    }

    form {
        margin: 2em 0 0;
    }

    .tut-row {
        display: flex;
        flex-direction: column;
    }

    .supply-form {
        margin-right: 0;
    }

    .steps-form {
        margin-top: 2em;
    }

    h2 {
        line-height: 1em;
    }

    .delete {
        margin: -2.45em 7em 1em;
    }

    .top-spaced-mobile {
        margin-top: 1em;
    }
}